[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	editor = code --wait
[includeIf "hasconfig:remote.*.url:git@github.com-Corpo:*/**"]
	path = ~/.gitconfig_corpo
[includeIf "hasconfig:remote.*.url:https://github.com*/**"]
	path = ~/.gitconfig_corpo
[includeIf "hasconfig:remote.*.url:git@github.com-Perso:*/**"]
	path = ~/.gitconfig_perso
