[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	editor = \"C:\\Users\\poaped10\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[includeIf "hasconfig:remote.*.url:git@github.com:Pedro-Rosa-10*/**"]
	path = ~/.gitconfig_corpo
[includeIf "hasconfig:remote.*.url:https://github.com*/**"]
	path = ~/.gitconfig_corpo
[includeIf "hasconfig:remote.*.url:git@github.com:Krauzer94*/**"]
	path = ~/.gitconfig_perso
