[user]
    name = Pedro-Rosa-10
    email = 144266741+Pedro-Rosa-10@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	editor = code --wait
# [credential]
# 	helper = cache --timeout=7776000
